<template>
  <footer>
    <div class="infos">
      <h2>Posso Ajudar?</h2>
      <p>Se você ainda tem dúvidas sobre qual produto escolher, <br>
      um consultor está pronto para atendê-lo.</p>
      <p class="light">De 2ª a 6ª, das 8h às 18h45. </p>
      <button type="button" name="button">Chat online</button>
      <span class="divider"></span>
      <p class="uppercase small call">Se preferir, ligue gratuitamente <br>
      (11) 3544-0555 São Paulo <br>
      0800 770 2245 Outras Regiões</p>
    </div>
  </footer>
</template>

<script>
  export default {}
</script>

<style lang="scss" scoped>
footer {
  color: #fff;
  background-image: url('../assets/images/bg-footer.png');
  padding-bottom: 63px;
  background-position: center;
  background-size: cover;
  margin-top: 40px;

  .infos {
    padding: 70px 0 40px 140px;

    h2 {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 0;
    }
    p.light {
      margin-bottom: 35px;
      color: #d3bdba;
    }

    button {
      border: 2px solid #fff;
      background-color: transparent;
      padding: 12px 25px;
      color: #fff;
      text-transform: lowercase;
      font-weight: bold;
      position: relative;
      top: -17px;
    }

    .divider {
      width: 2px;
      border-left: 2px solid #fff;
      position: relative;
      left: 20px;
      height: 70px;
      display: inline-block;
      top: 11px;
    }

    p.call {
      display: inline-block;
      margin-left: 35px;
    }
  }
}
@media screen and (max-width: 650px) {
  footer {
    div.infos {
      padding: 25px;
    }
  }
}
</style>
