<template>
  <header>
    <nav>
      <div id="navbarResponsive">
        <ul class="row">
          <li class="col-sm"><a href="#" class="uppercase">Tire suas dúvidas</a></li>
          <li class="col-sm"><a href="#" class="uppercase">Entenda o trocar imóveis</a></li>
          <li class="col-sm"><a href="#" class="uppercase">Meus imóveis</a></li>
          <li class="highlighted col-sm"><a href="#" class="uppercase">Cadastrar meu imóvel</a></li>
          <li class="login col-sm">
            <div v-if="!logged">
              <a href="#" id="openModal" v-on:click="openModal">Login</a>
            </div>
            <div v-else class="logged">
              <a href="#">Olá {{ name }}</a>
              <a href="#" class="uppercase" v-on:click="logged = !logged">Sair</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <section class="bg-container">
      <div class="logo-links hidden-xs">
        <img src="src/assets/images/logo.png" alt="logo trocar imoveis" class="float-left">
        <div class="social-links float-right">
          <p class="small">Siga-nos:</p>
          <div>
            <i class="fab fa-facebook-f"></i>
          </div>
          <div>
            <i class="fab fa-twitter"></i>
          </div>
          <div>
            <i class="fab fa-google-plus-g"></i>
          </div>
          <div>
            <i class="fab fa-instagram"></i>
          </div>
          <div>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
      <div class="search-tool">
        <form>
          <div class="arrow-left">
            <label for="quero">Quero</label>
            <select class="select" name="quero" id="quero" v-model="type">
              <option v-for="type in types"> {{ type }} </option>
            </select>
            <label for="de">de</label>
            <select class="select" name="de" id="de" v-model="place">
              <option v-for="place in places"> {{ place }} </option>
            </select>
          </div>
          <div class="arrow-right">
            <label for="tenho">Tenho</label>
            <select class="select" name="tenho" id="tenho" v-model="type2">
              <option v-for="type2 in types2"> {{ type2 }} </option>
            </select>
            <label for="de2">de</label>
            <select class="select" name="de2" id="de2" v-model="place2">
              <option v-for="place2 in places2"> {{ place2 }} </option>
            </select>
            <span class="arrow-btn"></span>
          </div>
        </form>
      </div>
    </section>
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Cadastro</h2>
        <form>
          <div class="form-group">
            <label for="login">Usuário:</label>
            <input type="text" name="login" value="login" v-model="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" name="password" value="" v-model="password" class="form-control" required>
          </div>
          <button type="button" name="button" v-on:click.prevent="addUser">Entrar</button>
        </form>
        <a href="#">Esqueci minha senha!</a>
        <a href="#">Entrar</a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      logged: false,
      name: '',
      password: '',
      type: '',
      types: ['Apartamento', 'Terreno', 'Casa'],
      place: '',
      places: ['Cidade, Bairro', 'Campinas, Barão Geraldo', 'Campinas, Taquaral'],
      type2: '',
      types2: ['Apartamento', 'Terreno', 'Casa'],
      place2: '',
      places2: ['Cidade, Bairro', 'Campinas, Barão Geraldo', 'Campinas, Taquaral']
    }
  },
  methods: {
    addUser: function(){
      if (this.name && this.password) {
        document.getElementById('modal').style.display = "none";
        this.logged = true;
      } else {
        alert ('Preencha os campos!');
      }
    },
    openModal: function(){
      var modal = document.getElementById('modal');
      var btn = document.getElementById("openModal");
      var span = document.getElementsByClassName("close")[0];

      btn.onclick = function() {
          modal.style.display = "block";
      }

      span.onclick = function() {
          modal.style.display = "none";
      }

      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;

  li {
    padding: 10px 0;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    box-sizing: border-box;
    background-color: #eee;

    a {
      color: #9d9d9d;
      text-decoration: none;
      padding: 13px 8px;
      font-size: 14px;
    }
  }
  li.highlighted {
    background-color: #6f3024;
    a {
      color: #FFFFFF;
    }
  }
  li.login {
    background-color: #ff6111;
    a {
      color: #FFFFFF;
    }
    .logged {
      a {
        &:last-child {
          content: '';
          border-left: 1px solid #FFFFFF;
          padding: 1px 8px;
        }
      }
    }
  }
}
.social-links {
  margin-right: 15px;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ababab;
    text-align: center;
    float: left;
    margin: 0 5px;

    i {
      color: #fff;
      line-height: 40px;
    }
  }
}
.bg-container {
  background-image: url('../assets/images/layer.png');
  background-color: #eee;
}
.logo-links {
  padding: 15px 15px;
  border-bottom: 1px solid #c0c0c0;
  overflow: hidden;

  img {
    margin-left: 30px;
  }
}
.search-tool {
  margin: 0 auto;
  width: 50%;
  clear: both;
  text-align: center;
  padding: 130px 0;

  div {
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 10px 0;
    font-style: italic;

    label {
      margin: 0 7px;
    }
  }

  .arrow-left {
    background-color: #6f3024;
    position: relative;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-top: 28px solid transparent;
      border-bottom: 28px solid transparent;
      border-right: 28px solid #6f3024;
      display: inline-block;
      position: absolute;
      left: -28px;
      top: 0;
    }
  }
  .arrow-right {
    background-color: #ff6111;
    position: relative;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-top: 28px solid transparent;
      border-bottom: 28px solid transparent;
      border-left: 28px solid #ff6111;
      display: inline-block;
      position: absolute;
      right: -28px;
      top: 0;
    }
  }
  .arrow-btn {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid #fff;
    display: inline-block;
    position: absolute;
    right: -17px;
    z-index: 2;
    cursor: pointer;
  }
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
    text-align: center;

    h2 {
      margin-bottom: 30px;
      color: #f07134;
    }
    form {
      width: 50%;
      margin: 0 auto;
      text-align: left;

      label {
        font-size: 12px;
      }

      input {
        border-radius: 0;
      }

      button {
        border: 2px solid #6b6a6a;
        background-color: transparent;
        padding: 12px 25px;
        color: #565656;
        text-transform: lowercase;
        font-weight: bold;
        width: 100%;
        margin: 20px 0;
        cursor: pointer;

        &:hover {
          border: 2px solid #f07134;
          color: #f07134;
        }
      }
      .form-control, button {
        &:focus {
          border-color: #e37b45;
          box-shadow: 0 0 0 0.2rem rgba(227, 123, 69, 0.39);
        }
      }
    }
    a {
      display: inline-block;
      color: #6f3024;
    }
}
.close {
  color: #aaa;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 650px) {
  .search-tool {
    width: 85%;
    padding: 60px 0;
  }
}
</style>
