<template>
  <main>
    <h1>Encontre o <span>imóvel</span> ideal para sua <span>permuta</span></h1>
    <div class="container">
      <div class="row">
        <thumb v-for="item in total" :key="item.id"></thumb>
      </div>
    </div>
  </main>
</template>

<script>
import thumbs from './thumbs.vue'

export default {
  data () {
    return {
      total: 6
    }
  },
  methods: {

  },
  components: {
    'thumb': thumbs
  }
}
</script>

<style lang="scss" scoped>
h1 {
  text-align: center;
  margin: 40px 0;
  text-transform: uppercase;
  color: #444444;
  font-weight: lighter;

  span {
    color: #6f3024;
  }
}
</style>
