<template>
  <div class="col-md-4">
    <div class="card thumb" @mouseenter="active = true" @mouseleave="active = false" >
      <img class="card-img-top" src="../assets/images/house.jpg" alt="Card image cap">
      <div class="card-img-overlay" v-if="active">
        <h5 class="card-title uppercase orange">Valor do imóvel:</h5>
        <p><span>R$:</span> {{ price }}</p>
      </div>
      <div class="card-body">
        <p class="card-text small">{{ type }} -<span> {{ address }}</span> <br> <span class="orange">{{ city }}</span></p>
        <div class="card-details">
          <span class="orange">{{ bath }} <i class="icon shower"></i></span>
          <span class="orange">{{ room }} <i class="icon bed"></i></span>
          <span class="orange">{{ bed }} <i class="icon room"></i></span>
          <span class="orange">{{ garage }} <i class="icon car"></i></span>
        </div>
        <p class="small obs"><span class="orange">{{ meters }}</span> m² ÚTIL <span class="orange">{{ totalMeters }}</span> m² TOTAL</p>
      </div>
      <a href="#" class="card-link">Me interessa</a>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      price: '2.200.000,00',
      bath: '6',
      room: '4',
      bed: '4',
      garage: '4',
      meters: '333',
      totalMeters: '360',
      type: 'CASA RESIDENCIAL',
      address: 'Villa Teodira',
      city: 'Campinas/SP',
      active: false
    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
.thumb {
  border: 1px solid #939393;
  border-radius: 0;
  margin-bottom: 60px;
  cursor: pointer;

  .card-img-top {
    height: 141px;
    border-bottom: 1px solid #939393;
  }
  .icon {
    display: inline-block;
  }
  .shower {
    background-image: url('../assets/images/shower.png');
    width: 23px;
    height: 20px;
  }
  .room {
    background-image: url('../assets/images/room.png');
    width: 26px;
    height: 17px;
  }
  .bed {
    background-image: url('../assets/images/bed.png');
    width: 24px;
    height: 17px;
  }
  .car {
    background-image: url('../assets/images/car.png');
    width: 30px;
    height: 17px;
  }
  .card-details {
    span {
      font-size: 20px;
      margin-right: 30px;
    }
  }
}
.orange {
  color: #ff6111;
}
.obs {
  font-size: 12px;
  color: #989898;
  margin-top: 5px;
}

div.card-img-overlay {
  padding: 33px;
  text-align: center;
  bottom: initial;
  background-color: #00000087;

  h5, span {
    font-size: 12px;
  }
  p {
    font-size: 30px;
    color: #fff;
  }
}
.card-link {
  text-decoration: none;
  position: absolute;
  bottom: -20px;
  right: 35px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6111;
  padding: 10px 15px;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 22px solid #ff6111;
    display: inline-block;
    position: absolute;
    right: -22px;
    top: 0;
  }
  &:before {
    content: '';
    -webkit-clip-path: polygon(100% 0, 0 1%, 100% 99%);
    clip-path: polygon(100% 0, 0 1%, 100% 99%);
    background-color: #ff6111;
    width: 43px;
    height: 45px;
    position: absolute;
    left: -42px;
    top: 0;
  }
}
</style>
