<template>
  <div>
    <app-header></app-header>
    <app-main></app-main>
    <app-footer></app-footer>
  </div>
</template>


<script>
import header from './components/header.vue'
import footer from './components/footer.vue'
import main from './components/main.vue'

export default {
  components: {
    'app-header': header,
    'app-footer': footer,
    'app-main': main
  },
  data () {
    return {

    }
  },
  methods: {

  }
}
</script>

<style lang="scss">
@import './assets/styles/custom-bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');
</style>
