.uppercase {
  text-transform: uppercase;
}
.select {
  padding: 5px 10px;
  width: 35%;
  border-radius: 0;
  color: #909090;
  background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, transparent, transparent);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 6px, 5px 6px, 1px 1.5em;
  background-repeat: no-repeat;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 650px) {
  .hidden-xs {
    display: none;
  }
  .search-tool {
    width: 90%;
    padding: 60px;
  }
  footer {
    div.infos {
      padding: 25px;
    }
  }
}
